.daysWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.dayBlock {
  cursor: pointer;
  border: 1px solid var(--highlight-color);
  box-shadow: 0 0 10px 1px var(--highlight-shadow);
  padding: 0.65rem;
  text-align: center;
  letter-spacing: 1.35px;
}
