.blackout {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 650px;
  height: 555px;
  background-color: var(--shadow-color);
  display: grid;
  place-items: center;
}

.modalWindow {
  background-color: var(--main-color);
  position: relative;
  padding: 2.25rem;
}

.themeText {
  letter-spacing: 1.3px;
  margin-bottom: -1rem;
}

.closeButton,
.closeIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.closeButton {
  display: block;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  transition: 0.2s linear;
  background-color: transparent;
  border: none;

  &:hover {
    transform: scale(1.2);
  }
}
