@mixin buttons() {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.rectangleButton,
.squareButton {
  @include buttons();
  border: 2px solid transparent;
  transition: 0.2s linear;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: var(--highlight-color);
  color: var(--main-color);
  box-shadow: 0 0 15px 2px var(--highlight-shadow);

  &:hover:enabled {
    background-color: transparent;
    border-color: var(--highlight-color);
    color: var(--highlight-color);
  }
  &:active:enabled {
    box-shadow: inset 2px 2px 3px 1px var(--shadow-color);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.rectangleButton {
  padding: 0.75rem 3.5rem;
  font-size: 1.15rem;
}

.squareButton {
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
}

.transparentButton {
  @include buttons();
  border: none;
  background-color: transparent;
}
